asn1crypto==0.24.0
certifi==2024.7.4
cffi==1.14.5
cryptography==43.0.1
future==0.17.1
idna==3.7
pip==23.3
pycparser==2.19
python-telegram-bot==11.1.0
setuptools==70.0.0
six==1.11.0
wheel==0.32.2
requests==2.32.2
